<div>
<%= @cocktail.name %>
</div>
<div>
  <% @cocktail.ingredients.each do |ing| %>
    <%= ing.name %>
    <div>
      <% ing.doses.each do |d| %>
        <%= d.description %> <%= link_to "Delete", deldoses_path(d), method: :delete %>
      <% end %>
    </div>
  <% end %>
</div>
<%= simple_form_for @dose do |f| %>
  <% if @dose.errors.any? %>
    <% @dose.errors.messages.each do |msg| %>
      <%= msg %>
    <% end %>
  <% end %>
  <%= f.input :description %>
  <%= select_tag "ingredient_id", options_from_collection_for_select(@ingredients,'id','name'),
      class: 'select2' %>
  <%= f.association :cocktail %>
  <%= f.hidden_field "h_cocktail", name: "h_cocktail", value: @cocktail.id.to_s %>
  <%= f.submit %>
<% end %>
<%= link_to "Back to index", index_path %>
